@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');

*{
    box-sizing: border-box;
}

:root{
    --primary-color: #181614;
    --secondary-color: #2b292b;
}

body{
    background-color: var(--primary-color);
    font-family: 'EB Garamond', serif;
    margin: 0;
}

header{
    position: relative;
    padding: 1rem;
    background-color: var(--primary-color);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 800px 450px;
    background-position: center;
    background-image: 
    linear-gradient(to right bottom, 
     rgba(108, 103, 99, 0.404),
     rgba(39, 28, 20, 0.726)),
    url("https://images.pexels.com/photos/558478/pexels-photo-558478.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
}


@media only screen and (max-width: 768px){
    header{
    position: relative;
    padding: 1rem;
    height: 100vh;
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-size: 70% 30%;
    background-position: center;
    }
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@media only screen and (max-width: 768px){
    .text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary {
    color: #e5ecf3;
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 180px;
    font-weight: 400;
    letter-spacing: 5px;
}

@media only screen and (max-width: 768px){
    .heading-primary-main{
        font-size: 3.3rem;
    } 
}

.heading-sub {
    backface-visibility: hidden;
    color: #aca6a6;
    padding-top: 490px;
    text-align: center;    
}

.heading-primary-sub {
    display: inline-block;
    font-size: 10px;
    font-weight: lighter;
    letter-spacing: 7.4px;
    line-height: 20px;
    /*border-bottom: 1px solid rgb(85, 81, 81);*/
    width: 30rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 768px){
    .heading-primary-sub{
        width: 20rem;
    } 
}

header #form {
    display: flex;
    justify-content: center;
}

#form #search {
    margin: 0.5rem;
    padding: 10px 20px;
}

.search{
    background-color: transparent;
    border: 1px solid #92817b;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
}

.search:focus{
    outline: 0;
    background-color: #0d0c0b;
}

.search::placeholder{
    color: #d4d4d4;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width: 300px;
    margin: 1rem;
    border-radius: 15px;
    border: 1px  solid #3b3a3b;
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img{
    width: 100%;
    border-radius: 3px;
}

.movieIMG:hover img {
    opacity: 0.3;
}

.movie-info{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    font-weight: 400;
    margin: 0rem 0rem 0rem;
    color: #bfbebf;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.75rem 0.75rem;
    border-radius: 10px 100px / 120px;
    font-weight: bold;
}

.movie-info span.green{
    color: #acc864;
}

.movie-info span.orange{
    color: #EE9B01;
}

.movie-info span.red{
    color: #BC0000;
}

.overview{
    border-radius: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    padding: 0.5rem 1rem 2rem;
    max-height: 100%;
    text-align: center;
    font-weight: 400;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    font-weight: 500;
    text-decoration: underline;
}

.movie:hover .overview{
    transform: translateY(0);
}

.pagination {
    display: flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color: white;
}

.page {
    padding: 5px 15px;
    margin: 20px;
    cursor: pointer;
    border: 1px solid #92817b;
    border-radius: 20px;
}

.page:hover {
    background-color: #030202;
}

.page.disabled {
    cursor: not-allowed;
    color: grey;
}

.page.disabled:hover {
    background-color: var(--primary-color);
}

.current {
    padding: 8px 17px;
    border-radius: 50px;
    border: 2px solid #92817b;
    font-size: 20px;
    font-weight: 500;
}